name: Validate themes

on:
  push:
    paths:
      - 'themes.toml'
  pull_request:
    paths:
      - 'themes.toml'

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: iffy/install-nim@v4.1.1
      - run: nimble install -d -y
      - run: nim c -r validate_themes.nim
